/src/Api/bin/
/src/Api/obj/

/src/Domain/bin/
/src/Domain/obj/

/src/Application/bin/
/src/Application/obj/

/src/Infrastructure/bin/
/src/Infrastructure/obj/

/test/Test/bin/
/test/Test/obj/

/src/.idea/
/.idea/

/src/Api/appsettings.Development.json
